In [31]:
using PyCall
@pyimport pandas as pd
@pyimport math

In [42]:
iris=pd.read_csv("inflation.csv", names=["date","inflation"])

PyObject        date      inflation
0       NaN      Inflation
1    1948Q1   8.4685373161
2    1948Q2    8.626617999
3    1948Q3   8.1440129595
4    1948Q4   4.4294955046
5    1949Q1   1.3741439494
6    1949Q2  -0.3184571541
7    1949Q3  -2.8268277883
8    1949Q4  -2.1455778394
9    1950Q1  -1.5009188995
10   1950Q2  -0.6299318267
11   1950Q3   2.0302448585
12   1950Q4   4.2713747474
13   1951Q1    8.564404428
14   1951Q2   8.7766211618
15   1951Q3   6.9045371469
16   1951Q4   6.3692528033
17   1952Q1   2.7671832034
18   1952Q2   2.0598341129
19   1952Q3   2.7888499122
20   1952Q4   1.4347768223
21   1953Q1   0.7667805208
22   1953Q2   0.8770681093
23   1953Q3   0.6602463501
24   1953Q4   0.7214528994
25   1954Q1   1.2444018028
26   1954Q2   0.7085627515
27   1954Q3  -0.0123336831
28   1954Q4  -0.4969998158
29   1955Q1  -0.5953695298
..      ...            ...
223  2003Q3   2.1923532887
224  2003Q4   1.9820538821
225  2004Q1   1.8018327826
226  2004Q2   2.7472637382
227  2004Q3   2.6400614392
228  2004Q4   3.3287737866
229  2005Q1   2.9896677256
230  2005Q2   2.8815648068
231  2005Q3   3.7453038493
232  2005Q4   3.6087353121
233  2006Q1   3.6081283299
234  2006Q2   3.8654355154
235  2006Q3   3.2888060986
236  2006Q4   1.9297385143
237  2007Q1   2.4171015093
238  2007Q2   2.6328931493
239  2007Q3   2.3230831755
240  2007Q4    3.932607953
241  2008Q1   4.0810196089
242  2008Q2   4.2086769189
243  2008Q3   5.1400145547
244  2008Q4   1.5431808316
245  2009Q1   -0.155332652
246  2009Q2    -0.97062521
247  2009Q3  -1.6082674477
248  2009Q4   1.4529778547
249  2010Q1   2.3914999169
250  2010Q2    1.751815545
251  2010Q3   1.2102644282
252  2010Q4   1.1589244582

[253 rows x 2 columns]

In [43]:
iris["inflation"]

PyObject 0         Inflation
1      8.4685373161
2       8.626617999
3      8.1440129595
4      4.4294955046
5      1.3741439494
6     -0.3184571541
7     -2.8268277883
8     -2.1455778394
9     -1.5009188995
10    -0.6299318267
11     2.0302448585
12     4.2713747474
13      8.564404428
14     8.7766211618
...
238     2.6328931493
239     2.3230831755
240      3.932607953
241     4.0810196089
242     4.2086769189
243     5.1400145547
244     1.5431808316
245     -0.155332652
246      -0.97062521
247    -1.6082674477
248     1.4529778547
249     2.3914999169
250      1.751815545
251     1.2102644282
252     1.1589244582
Name: inflation, Length: 253, dtype: object

In [44]:
iris[:5]

LoadError: `getindex` has no method matching getindex(::PyObject, ::Int64)
while loading In[44], in expression starting on line 1

In [45]:
iris[[1:5]]

LoadError: `getindex` has no method matching getindex(::PyObject, ::Array{Int64,1})
while loading In[45], in expression starting on line 1